header#header.navbar.navbar.navbar-fixed-top
    div.navbar-inner
        div.container-fluid
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            div.row-fluid    
                div.span4
                a.brand.span4(href="#")
                    h1
                        | Haroon Abbasi
                div.span4    
