extends layout

block content
	div.container
		div.row-fluid
			div#tagline-container.span12
				h1.tagline
					| Hi, I am Web Designer & Developer
			div.span12
				div.span4
				div.span4
					img(id="proflie_icon",src="images/haroonabbasi.jpg")
				div.span4
			div#aboutme-container.span12
				p
					| I’m Haroon Abbasi, 22 year old Software Engineer and Web Application Developer from Lahore, Pakistan.I love programming that's why i choose it as my career. I have a very deep interest in my work. 
					Programming is like passion for me.
				p
					|I have experience in Windows application development and now from previous one year Web Application Development is my new track to drive with extreme speed for Front-End Development, drifting skills to tackle different situations, and high power mind engine to boost back-end development. I am constantly looking to further my skill set and knowledge, keeping track of modern practices, trends and technologies within the industry.
